@charset "UTF-8";
body{
}
#body {
	border: 10px ridge #352323;
	background: radial-gradient(#15762F, #096121);
	padding: 20px;
	margin: auto;
	max-width: 1050px;
	
}
#title {
	color: #FFFFFF;
	text-align: center;
	font-family: "Courier New";
	text-transform: capitalize;
}

p {
	color: #E0F3FF;
	font-family: "Monaco";
	font-weight: bold;
	font-size: 90%;
	border-bottom: dashed thin #E0F3FF;
	text-align: justify;
	max-width: 400px;
	min-height: 100px;
	margin: 10px 5px 10px 20px;
	padding: 5px;
}
.ends{
	border-bottom: none;
}
.question {
	display: inline-block;
	width: 45%;
}
.allQuestions {
	border:medium double #E0F3FF;
	max-width: 1000px;
	padding-left: 5.5%;
}
footer{
	
	display:inline-block;
}
#aside {
	float: right;
	color: #000000;
	font-family: "Monaco";
	font-weight: bold;
	font-size: 100%;
	border: none;
	margin: 0px auto;
	right: 10px;
	text-align: center;
}
#linkToPage {
	float:left;
	color: #000000;
	font-family: "Monaco";
	font-weight: bold;
	font-size: 90%;
	text-align:center;
	border: none;
	margin: 0px auto;
	padding: 0px;
	min-height: 50px;
	max-height: 75px;
	max-width: 150px;
}
a {
	min-width: 20px;
	max-width: 150px;
	border: thin inset #000000;
	display: inline-block;
}
a:hover {
	background:#A1A1A1;
	color:#2359CB;
}
